NASA_API_KEY="QWERTYasdfasdfasdfQWERTY1234567890rthsrtsrj"
ASTRONOMY_API_AUTH="Basic QWERTYasdfasdfasdfQWERTY1234567890rthsrtsrjsrudfgryaev4iv74o8tvulaw48oytv4w8yntvlaw8tmwo48ctaw4taw84tvnpa84yv9a8w4ytv89ayw4nvt98yw9n48tva84ytvbwtbtvyi8wt9a48stye48nvpzest98vnps98eynv4tps98yv4ns8ye4tv9nyP88888884N4rymsertunaeya"